body {
  padding: 10px;
  font-family: sans-serif;
  background-color: rgb(13, 228, 77) !important;
  background-image: url(https://getwallpapers.com/wallpaper/full/9/8/0/137871.jpg)
}

.p-frame{
  max-height: 270px;
  overflow: hidden;
}

.previewImg img{
  width: 60%;
}

.invalidWarn{
  border: 2px solid #dc3545 !important;
}
.js-delete{
  cursor: pointer;
  font-size: 1.5em;
  color: #f3021a;
}
.js-edit{
  cursor: pointer;
  font-size: 1.5em;
  color: aqua;
}
.btn-default{
  border: 4px solid rgb(0, 0, 0) !important;
}
.js-view{
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(8, 172, 248);
}
.maxH{
  max-height: 400px;
  overflow: hidden;
} 
.at-form{
  border: 10px solid rgb(0, 0, 0) !important;
  color: black;
}
.navFix{
  margin-left: 40px;
}
.navuser{
  height: 55px;
  width: 110px;
  margin-right: 40px;
  color: rgb(1, 10, 19);
  background-color: rgb(0, 255, 115);
  border-color: black;
  font-family: 'Times New Roman', Times, serif;

}
.wel{
  font-size: 200px !important;
}
p{
  font-size: 250px;
  font-family: 'Times New Roman', Times, serif;
}